body{
	padding: 0;
	margin: 0;
	height: 120vh;

    background: #2F4F4F;
}


span{
	position: absolute;
	    font-size: 60px;
    text-transform: uppercase;
    color: #DAA520;
    font-weight: 700;
}


span:after{
	content: '';
	width: 100%;
	height: 2px;
	background-color:red;
	position: absolute;
	display: none;
}

span:nth-child(1){
		top: 30%;
		left:80%;
		transition: all .6s ease-in;
	transition-delay: .8s;

}


span:nth-child(2){
	top: 10%;
	left:50%;
	transition:  all .6s ease-in;
	transition-delay: .9s;


}

span:nth-child(3){

    top: 48%;
    left: 10%;
    transition: all .6s ease-in;
    transition-delay: 1s;
   

}

span:nth-child(4){

	top:60%;
	left:60%;
	transition: all 1.2s ease-in;
	transition-delay: 1.2;
	

}

span:nth-child(5){

		top:20%;
		left:30%;
		transition-delay: 1.3s;
		transition: all 1.3s ease-in;

}

span:nth-child(6){

	top:80%;
	left:20%;
	transition-delay: 1.4s;
	transition: all 1.4s ease-in;

}